.layout {
  display: flex;
}

.conteudo {
  flex: 1;

  padding: 40px;

  background: #f4f6f9;
}

.cards {
  margin-top: 30px;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

  gap: 25px;
}

.card {
  background: white;

  padding: 25px;

  border-radius: 10px;

  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
