.perfil-card {
  display: flex;

  gap: 50px;

  margin-top: 40px;

  background: white;

  padding: 40px;

  border-radius: 12px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.foto {
  width: 220px;

  text-align: center;
}

.foto img {
  width: 180px;

  height: 180px;

  border-radius: 50%;

  object-fit: cover;
}

.foto button {
  margin-top: 20px;
}

.dados {
  flex: 1;

  display: flex;

  flex-direction: column;
}

.dados input {
  margin-bottom: 20px;
}
