.layout{

    display:flex;

}

.conteudo{

    flex:1;

    padding:40px;

    background:#F3F4F6;

}

.cards{

    margin-top:30px;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

}

.card{

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.card h2{

    margin-bottom:15px;

}